/* ---------------- DEFAULTS  ---------------- */

* {
    font-family: 'Open Sans', sans-serif, Arial;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    animation: fadein 1s;
    background-color: #1B2736;
}

body {
    margin: 0;
}

/* ---------------- NAVIGATOR  ---------------- */

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
    text-align: center;
    
    border-bottom: 1px solid #191A21;
    
    /*   TAILWIND   */
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}

.nav > h1 {
    padding: 0px 35px 0px 15px;
    border-right: solid 8px #181611;
    
    background-color: #7a6f59;
    border-right-style: double;
    
    color: #dcc7a1;
    
    animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
}

.nav > a {
    border-top: 30px solid #1B2736;
    border-bottom: 30px solid #1B2736;
    border-radius: 15px;
    
    padding: 5px 5px 5px 5px;
    
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}

.nav > a:hover {
    color: #463957;
    background-color: aliceblue;
}

/* ---------------- BOTON  ---------------- */

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 500px;
    width: 100%;
}

.boton > h2 {
    color: #dcc7a1;
    
}


#el_boton {
    border-radius: 100%;
    
    width: 250px;
    height: 50%;
    
    /*   TAILWIND   */
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}

/* ---------------- UTILES ---------------- */

.nada {
    display: none;
    visibility: hidden;
}
/* ---------------- TABLA ---------------- */

.database {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 500px;
    width: 100%;
    
    visibility: visible;
}

table, th, td {
    border: 2px solid #121b25;
    border-collapse: collapse;
    text-align: center;
}

th {
    color: #2c4058;  
      
}

td {
    color: #354c69;
}

/* ---------------- PHP ---------------- */

.php {
    text-align: center;
    color: #dcc7a1;
}


/* ---------------- OPCIONES  ---------------- */

.opciones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.opciones > button {
    border: 1px solid white;
    border-radius: 3%;
    
    /*   TAILWIND   */
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}


/* ---------------- CAMBIAR DE TAMAÑO SI ES MOVIL ---------------- */

@media all and (max-width: 700px) {

    .nav { flex-direction: column; padding-bottom: 10px;}
    
    .nav > h1 { padding: 0px 0px 5px 0px; border: none;}
    
    .nav > a { padding: 7px;}
}

/* ---------------- ANIMACIONES ---------------- */

@keyframes fadein {
    0% {opacity: 0;transform: translateY(-20px);}
    100% {opacity: 1;transform: translateY(0);}
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-27 13:34:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}