/* ---------------- DEFAULTS  ---------------- */

* {
    font-family: 'Open Sans', sans-serif, Arial;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    animation: fadein 1s;
    background-color: #211b29;
}

body {
    margin: 0;
}

::selection {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

/* ---------------- FORMULARIO RGB ---------------- */

.RGB {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #211b29;
    text-align: center;
    color: #584c67;
}

/* ---------------- CARATULA  ----------------*/

.header {
    padding: 10px;
    text-align: center;
    background-color: #451930;
    
    animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
}

.header > h1 {
    color: aliceblue;
}
/*---------------- BARRA DE NAVEGACION ----------------*/

.navegacion {
    display: flex;
    justify-content: space-evenly;
    background-color: #211b29;
}

.navegacion a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color .35s, background-color .5s;
}

.navegacion a:hover {
    background-color: #6d8a90;
    color: black;
}

/* ---------------- CUERPO ---------------- */

.cuerpo {
    display: flex;
    flex-wrap: wrap;
} 

.contenido1 {
    flex: 60%;
    padding: 20px;
    background-color: white;
}

.contenido2 {
    flex: 40%;
    padding: 20px;
    background-color: #ddb464;
}

h6 {
    text-align: right;
}

/* ---------------- FOOTER ---------------- */

.footer {
    padding: 15px;
    text-align: center;
    background-color: #451930;
    transition: filter .5s;
}

.footer > a {
    font-weight: bold;
    font-size: 18px;

    text-decoration: none;
    color: #211b29;
}

.footer:hover {
    filter: brightness(0.8);
}

/* ---------------- LINKS GENERICOS ---------------- */

.contenido1 a:link, .contenido2 a:link {
    font-weight: bold;
    color: #451930;
    text-decoration: none;
    text-decoration: underline;
}

.contenido1 a:visited, .contenido2 a:visited {
    color: #6d8a90;
    font-weight: normal;
    text-decoration: none;
}

/* ---------------- MENU RGB ---------------- */

.MenuRGB {
    z-index: 10;
    position: fixed;
    height: 25%;
    width: 45%;
    left: 50%; top: 50%; transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    overflow: hidden;
    
    color: skyblue;
    padding: 15px;
    
}

.MenuRGB > h2 {
    margin-top: -10px;
    text-align: center;
    color: rgba(40, 255, 255, 0.7);
}

#overlay {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.nada {
    display: none;
}

/* ---------------- CAMBIAR DE TAMAÑO SI ES MOVIL ---------------- */

@media all and (max-width: 700px) {

    .cuerpo,
    .navegacion {
        flex-direction: column;
    }
    
    .MenuRGB {height: 40%; width: 55%;}
}

/* ---------------- ANIMACIONES ---------------- */

@keyframes fadein {
    0% {opacity: 0;transform: translateY(-20px);}
    100% {opacity: 1;transform: translateY(0);}
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-27 13:34:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}